.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom: 15px;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	background: url("/assets/fresh_snow.png");
  /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar-inverse {
  background: url("/assets/dark_wood.png");
  
}
.navbar .navbar-inverse {
  border-radius: 10;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #754B0F;
  font-family: 'chunkfiveroman', Verdana, sans-serif;
  font-size: 26px;
}
div .pagination {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
.pagination {

      span.disabled {
        color: #aaa !important;
      }
      em.current {
        margin: 0 auto;
        padding: 0 14px;
        line-height: 38px;
        text-decoration: none;
        background-color: #754B0F;
        border: 1px solid #DDD;
        border-left-width: 0;
        color: white

      }
      .previous_page {
        border-left: 1px solid #ddd;
        color: black;
        text-decoration: none;
      }
      .next_page {
        color: black;
        text-decoration: none;
      }
      a {
        color: black;
        text-decoration: none;
      }

    }

.field_with_errors {
  color: #FF3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;      
}



